.page-home {
  padding: 20px;
}
.page-home h3 {
  display: block;
  font-weight: bold;
  line-height: 2;
}
.page-home p {
  line-height: 1.5;
}
.site-banner {
  background: #85d4a6 linear-gradient(#40b370, #85d4a6);
  height: 360px;
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
}
.site-feature {
  width: 100%;
  height: 51rem;
  padding-top: 20px;
  background: #eee;
  border-radius: 0.5rem;
}
.site-feature .feature-item {
  width: 33.3%;
  position: relative;
  display: inline-block;
  height: 30rem;
}
.site-feature .feature-item .feature-item-feature {
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -126px;
}
.site-feature .feature-item .feature-item-feature .feature-item-text {
  display: inline-block;
  vertical-align: top;
  width: 26rem;
}
.site-feature .feature-item .feature-item-feature .feature-item-text .feature-item-title {
  margin-top: 15px;
  font-size: 24px;
}
.site-feature .feature-item .feature-item-feature .feature-item-text .feature-item-des {
  font-size: 16px;
}
.welcome {
  font-size: 4rem;
  color: whitesmoke;
  padding: 7rem;
}
@-webkit-keyframes spring-boot-icon-animation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.spring-boot-icon {
  background: url(../images/project-icon-large.png) no-repeat left top;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 32px;
  left: 400px;
  opacity: 0.6;
  -webkit-animation: spring-boot-icon-animation 6s linear 0s infinite;
}
@keyframes kotlin-icon-animation {
  0%,
  20% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    /*贝塞尔曲线 ： X1 Y1 X2 Y2*/
    transform: translate3d(0, 0, 0);
    /*设置只在Z轴上移动*/
  }
  30%,
  40% {
    transition-timing-function: cubic-bezier(0.755, 0.5, 0.855, 0.06);
    transform: translate3d(calc(66.66666667vw), 0, 0);
  }
  50%,
  60% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(calc(66.66666667vw), 30px, 0);
  }
  70%,
  80% {
    transform: translate3d(0, 30px, 0);
  }
  90%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
}
.kotlin-icon {
  border-radius: 1rem;
  background: url(../images/kotlin-icon.jpg) no-repeat right top;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 20px;
  left: 50px;
  opacity: 0.15;
  -webkit-animation: kotlin-icon-animation 20s linear 0s infinite;
}
.mod-footer {
  background-color: #dddddd;
  font-size: .8rem;
  color: grey;
  text-align: center;
  padding: 1rem;
  display: flex;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.center {
  text-align: center;
}
.footer-right {
  margin-left: 20rem;
}
